/* New Moon Hair Parlour Styles */

/* 
Colors: 

Darkest Brown: #875647;
Burnt Orange: #cc6c2c;
Light Almond: #eed7c5;
White: #FFFFFF;
Med Taupe: #d8a47f;

SnapWidget - $110/year
Elfsight - $120/year


*/

@media all {

	body {
				font-family: Montserrat;
				font-size: 16px;
				background-color: #FFFFFF;
				width: 100%;
				height:100%;
				color:#777;
	}

	h2{
				color: #cc6c2c;
				text-shadow: 1px 1px #d8a47f;
				padding-bottom: 40px;
	}

	h3 {
				color: #d8a47f;
	}

	h4{
				color:#eed7c5;
				text-shadow: 1px 1px #d8a47f;
	}

	a {
				color: #777;
	}

	.center-text {
				text-align:center;
	}



	.content {
				min-height: 650px;
				padding: 75px;
	}




/* Navigation */
    .navbar-default {
                background-color: #FFFFFF;
                border-color: #FFFFFF;
    }

    #nav-name {
                color: #cc6c2c;
    }

    .navbar-default .navbar-nav > li:hover{
                background-color: #eed7c5;
    }





/* Parallax Containers */

	.parallax-window {
			    min-height: 700px;
			    background: transparent;
}





/* Meet Section */
	#tiffanypic {
				max-width: 100%;
				
	}


/* Services */

.services{

}






/* Location and Contact Section */
	.mapouter{
				/*position:relative;*/
				text-align:right;
				

}
	.gmap_canvas {
				overflow:hidden;
				background:none!important;
				min-height:450px;
				width:100%;
				padding-bottom: 50px;
}
	#gmap_canvas {
				width: 100%;
				min-height:450px;
}
	.contact-links {
				padding-bottom: 50px;
}

}
