/* 
Katelyn Dever
Portofolio Website

    Color Scheme:
    Light Rose: #C6878F
    Blue Sapphire: #086375
    Tuscany: #B79D94
    Almost Black: #1C1C1C
    Champagne: #F6E7CB;
*/


@media all{

    /* ALL PAGES */

    body{
                    background-color: #1C1C1C;
                    font-size: 16px;
                    font-family: Raleway;
                    width: 100%;
                    color: #F6E7CB ;
    }
  
    .center-text{
                    text-align: center;
    }
    hr  {
                    border: 0;
                    height: 3px;
                    background: #333;
                    background-image: linear-gradient(to right, #B79D94, #086375, #B79D94);
    }

    h2, h4 {
                    color: #C6878F;
    }
    h4 {
                    text-align:right;
    }


    a {
                    color: #1C1C1C;
    }
    a:hover {
                    color: #F6E7CB;
                    text-decoration: none;
    }


    /* Navigation */
    .navbar-default {
                background-color: #C6878F;
                border-color: #C6878F;
    }

    #nav-name {
                color: #086375;
    }

    .navbar-default .navbar-nav > li > a {
                color: #1C1C1C;
    }
    .navbar-default .navbar-nav > li:hover{
                background-color: #F6E7CB;
    }

    /* Footer */

    footer {
                    background-color:#C6878F;
                    width:100%;
                    bottom:0;
                    margin-top: 40px;
                    padding: 10px;
    }

    footer > div > a {
                    font-family: Raleway;
                    color: #1C1C1C;
                    text-decoration: none;
    }

    #insta {
                    background-color:none;
                    max-width: 25px;
    }

    /* Home Page */

    #home-picture {
                border: double 5px #F6E7CB;
                border-radius: 15px;
                width: 100%;
                padding: 5px;
                margin: 5px;
    }

    #home-picture:hover {
                opacity: .8;
    }


    /* About Page */

    .row {
                margin-bottom: 25px;
    }
    .about-picture {
                width: 100%;
                height: 25%;
                border-radius:15px;
    }

    .about-row {
                border: double 5px #B79D94;
                border-radius: 15px;
    }

    .about-container {
                padding: 10px;
                border-radius:5px;
    }
    .about-container > p {
                padding: 10px 10%;
    }

    .list-link {
                color:#F6E7CB;
    }
    .list-link:hover {
                color:#B79D94;
    }

    .pink-text {
                color: #C6878F ;
    }




}
