/* General Styles */

/* Colors

Darkest Blue: #1B1B3A;
Purple Navy: #404E7C;
Lilac: #BE97C6;
Russian Violet: #451F55;
Light Gray: #E6E5E9;
White: #FFF;
Black: #000;

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 1em "Montserrat", sans-serif;
	color: #555;
	width: 100%;
	overflow-x: hidden;
}
body {
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #BE97C6;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #451F55;
	opacity: 1;
	letter-spacing: .08em;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	position:relative;
	width: 100%;
}

section:not(.hero):nth-child(even) {
	background-color: #E6E5E9;
}


hr {
	width: 15%;
	height: 3px;
	border:0;
	background-color: #404E7C;
	margin-bottom: 50px;
	background-image: linear-gradient(to right, #ccc, #404E7C, #ccc);
}

section h3.title {
	font: bold 32px "Montserrat", sans-serif;
	margin-bottom: 30px;
	margin-top:50px;
	text-align: center;
	text-transform: uppercase;
	color: #404E7C;
	text-shadow: 1px 1px 1px #E6E5E9;

}


@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}


/* Navigation */

.navbar {
	background-color: #404E7C;
	color: #fff;
	width: 100%;
	font-size: 20px;
	position: fixed;
	margin-top: 0;
	z-index: 50;
	padding: 5px 0 5px 50px;
	animation: 1s fadein 0.3s forwards;
	opacity: 0;
	
}

.navbar > ul {
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.navbar > ul > li {
	padding: 5px 20px;
}

@media all and (max-width: 800px) {
	.navbar > ul {
		justify-content: space-around;
		width: 100%;
	}
}

@media all and (max-width: 500px) {
	.navbar > ul {
		flex-direction: column;
	}
	.navbar > ul > li {
		text-align: center;
	}

}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
	background-color: #1B1B3A;
}

#greeting {
	width: 100%;
	text-align: center;
	padding: 20px 20%;
	font-weight: 400;
	letter-spacing: .08em;
	font-size: 40px;
}

#name {
	color: #BE97C6;
	font-weight: 700;
}

.hero a.btn {
	padding: 20px 50px;

}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}



/* Wrapper Style */
.wrapper {
	position: relative;
	z-index: 2;
	opacity: 1;
	background-color: #FFF;
	width:100%;

	-webkit-box-shadow: 0 20px 20px 20px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 20px 20px 20px #000;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 20px 20px 20px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.content {
	max-width: 60%;
}

/* Portfolio Section */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 480px;
  height: 325px;
  margin: 30px;
  text-decoration: none;
}

.gallery-item img {
  position: absolute;
  width: 480px;
  height: 325px;
}

.text-wrapper {
  position: relative;
  width: 480px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.text-wrapper:hover {
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name {
  font-size: 1.5em;
}

@media only screen and (max-width: 1100px) {
  .gallery {
		justify-content: center;
	}
  .text-wrapper {
    opacity: 1;
    justify-content: flex-end;
    text-shadow: 1px 1px 1px #000;
  }
  .title {
    margin-bottom: 1em;
  }
}



/* Resume Section */

/* h3 sections, h4 school and company names, h5 dates and titles */
h3, h4, h5 {
	padding: 5px;
}

h3 {
	font-size: 26px;
	font-weight: 700;
	padding-top:15px;
	text-transform: uppercase;
}

h4{
	font-size: 22px;
	font-weight:700;
	margin-top: 20px;
	color: #404E7C;
}

h5 {
	font-size: 20px;
	font-weight:400;
	font-style: italic;
}

.resume-item p, .resume-item li {
	font-size: 18px;
	font-weight: 200;
}
.resume-item {
	min-height: 700px;
	margin: 20px;
	text-align: center;
	width: 320px;
}

.resume-item i {
	color: #BE97C6;
	display:block;
	text-align: center;
	font-size:48px;
}


@media all and (max-width: 1100px) {
	.resume-item{
		width: 1100px;
	}
}

/*  About */

.about-item {
	margin:20px;
	text-align: center;
	min-height: 400px;
}

.about-item .small {
	width: 400px;
}

.about-item .large{
	width: 600px;
}

.about-item img {
  position: absolute;
  width: 320px;
}




/* Contact Section */

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/* Footer */


footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #1B1B3A;
	color: #fff;
	padding: 20px 0;
	width: 100%;

}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer ul li i{
	color: #BE97C6;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
} 
