/*General Styles*/

/* Colors

Darkest Blue: #1B1B3A;
Purple Navy: #404E7C;
Lilac: #BE97C6;
Russian Violet: #451F55;
Light Gray: #E6E5E9;
White: #FFF;
Black: #000;

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}
body {
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	color: #E6E5E9;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #451F55;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #E6E5E9;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #451F55;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	font: bold 32px "Montserrat", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/* Navigation */


.navbar {
	background-color: #404E7C;
	width: 100%;
	position: absolute;
	margin-top:0;
	padding: 10px 0 10px 50px;
	display:flex;
	align-items: center;
	animation: 1s fadein 0.3s forwards;
	opacity: 0;
	color: #fff;
}

.navbar > ul {
	display:flex;
}

.navbar > ul > li {
	padding: 20px;
}

@media all and (max-width: 600px) {
	.navbar {
		flex-wrap: wrap;
		display: relative;
	}

	.navbar > a {
		flex-basis: 50%;
	}
}

@media all and (max-width: 400px) {

	.navbar > a {
		flex-basis: 100%;
	}
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}



/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
	background-color: #1B1B3A;
}

.hero h1 {
	font: bold 60px "Montserrat", sans-serif;
	margin-bottom: 10px;
}
.hero h2 {
	font: normal 28px "Monterrat", sans-serif;
	padding-bottom: 50px;
}

.hero a.btn {
	padding: 20px 50px;

}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}





/* Portfolio Section*/

.portfolio .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.portfolio .grid li.small {
	flex-basis: 25%;
}

.portfolio .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.portfolio .grid li.small,
	.portfolio .grid li.large {
		flex-basis: 80%;
	}
}

@media (max-width: 800px) {
	.portfolio .grid li.small,
	.portfolio .grid li.large {
		flex-basis: 100%;
	}
}

/* Resume Section */

.resume .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.resume .grid li i {
	color: #BE97C6;
}

.resume .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

.resume .grid h5 {
	font-size: 20px;
}

@media (max-width: 800px) {
	.resume .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/* Contact Section */

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/* Footer */


footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #1B1B3A;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer ul li i{
	color: #BE97C6;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
} 
